.footer {
  background-color: #1c1a1a;

  .footer-text {
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-family: Syne, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .first-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;

    .text-meta {
      margin-bottom: 1rem;
    }

    .main-text {
      margin: 0 auto 2rem;
      max-width: 80rem;
      font-family: Syne, sans-serif;
      font-size: 4vw;
      font-weight: 700;
      line-height: 120%;

      @include tablet {
        max-width: 70rem;
      }

      @include l-mobile {
        font-size: 4rem;
      }

      @include s-mobile{
        font-size: 3.5rem;
      }
    }

    .contact-button {
      justify-content: center;
      align-items: center;
      display: flex;

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .contact-circle {
        z-index: 5;
        width: 130px;
        height: 130px;
        background-color: $orange;
        border-radius: 200px;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
      }

      .contact-stroke {
        width: 155px;
        height: 155px;
        border: 1px solid $orange;
        border-radius: 500px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }

  .second-row {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .footer-grid {
      display: grid;
      grid-column-gap: 4rem;
      grid-row-gap: 4rem;
      grid-template-columns: 1fr 1fr 1fr;

      @include l-mobile {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
      }

      .footer-grid-inner {
        &:not(:first-child) {
          justify-self: center;
        }

        &:first-child {
          @include l-mobile {
            grid-area: span 1 / span 2;
          }
        }

        @include l-mobile{
          justify-self: start !important;
        }

        .logo {
          letter-spacing: 0.2em;
          font-family: Syncopate, sans-serif;
          font-size: 2rem;
          font-weight: 400;
          line-height: 130%;
          margin-bottom: 1.5rem;
        }

        .footer-nav {
          grid-row-gap: 1.5rem;
          flex-direction: column;
          align-items: flex-start;
          display: flex;
        }
      }
    }

    .copyright {
      display: block;
      text-align: center;
      padding-top: 5rem;
      padding-bottom: 3rem;
      text-transform: inherit;

      .link {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
